* {

    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(36, 100%, 99%);
     margin: 1%;
    
    height: 100%;
}

.top-div {
    display: grid;
    grid-template-columns: repeat(2,auto);
    

}

@media screen and (max-width: 960px) {
    body {
      margin: 0;
    }
    .top-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        
    
    }

    
  }
  
